@{
    ViewBag.Title = "弹幕测试页面";
}
@Scripts.Render("~/bundles/dplay")
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Bad Apple!!</p>
<div id="player1"></div>
<script>
    var dp = new DPlayer({
        element: document.getElementById('player1'),
        video: {
            url: 'https://api.prprpr.me/dplayer/video/bilibili?aid=24722',
            pic: 'dplayer.png'
        },
        danmaku: {
            id: 'f896aeaasas7686b6f805e0834',
            api: 'https://api.prprpr.me/dplayer/',
            addition: ['https://api.prprpr.me/dplayer/bilibili?cid=40689']
        }
    });
</script>