@{
    ViewBag.Title = "主页";
    int myId = int.Parse(Session["Id"].ToString());
    string myType = Session["Type"].ToString();
}

<div class="jumbotron" style="background-color:lightskyblue">
    <h1 style="color:white">Danmaku-MOOC</h1>
    <p style="color:white" class="lead">基于弹幕交互技术的在线师生课程交流系统</p>
</div>

<div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>欢迎：</strong> 你的登录身份是 @myType 请自觉遵守文明上网公约
</div>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p>@Html.ActionLink("前往个人中心", "Details", "AccountModels", routeValues: new { id = myId }, htmlAttributes: new { @class = "btn btn-primary btn-block" })</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>